.responsive-spaced-box {
  border-radius: 5%;
}

.image-box {
  margin: 10px;
  border-radius: 5%;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.create-study-set-box {
  padding: 10px;
  margin: 15px;
  border-radius: 2%;
}


.profile-box {
  padding: 20%;
  margin: 10px;
  border-radius: 2%;
}
