.responsive-spaced-box {
  border-radius: 5%;
}

.create-study-set-box {
  padding: 10px;
  margin: 15px;
  border-radius: 2%;
}


.profile-box {
  padding: 20%;
  margin: 10px;
  border-radius: 2%;
}

.card-description {
    font-size: 20px;
    font-weight: 400;
}