/* General Pages */
html,
body {
  height: 100%;
  margin: 0;
  background-image: url("Photos/webb.png");
}

div.root-layout {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
}

nav.nav-wrapper {
  background-color: #5bb7bf;
  color: silver;
}
footer.page-footer {
  background-color: #5bb7bf;
  color: #ffffff;
  line-height: 50px;
  padding: 0 20px;
  bottom: 0;
}
/* Hompe Page */
section.left-intro {
  line-height: 40px;
}

img.intro-img {
  height: 400px;
  width: 400px;
}

section.introduction {
  flex-grow: 1;
  background-color: #b8e2e4;
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

section.tab-description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: stretch;
  width: 100%;
}

div.description-row {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
}

div.tab-container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

div.col.tb.home {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 30px;
}

div.col.tb.home.active {
  flex-direction: column;
  display: flex;
}

div.col.s12.tb {
  color: white;
  background-color: #5ab8bf;
  font-size: 20px;
  font-weight: 300;
}

ul.tabs .indicator {
  background-color: #56b5be;
}

ul.tabs .tab.col.s4 a.active {
  background-color: #b9e2e4;
  color: #212b2b;
}

ul.tabs .tab.col.s4 a:focus.active {
  color: black;
  background-color: rgb(189 227 227);
}

li.tab.col.s4 {
  background-color: #c0c0c07a;
}

li.tab.col.s4 a {
  color: #101717;
  font-size: large;
}

li.tab.col.s4 a:hover {
  color: #101717;
  background: #bde3e3;
}

sub.flow-text {
  color: grey;
  font-size: smaller;
}

/* Search page */
div.wrap {
  width: 100%;
  justify-content: top;
}

div.search {
  width: 100%;
  padding-top: 10px;
  position: relative;
  display: flex;
  background-color: #c2e5e7c7;
}

div.search input.search-term {
  width: 100%;
  border-bottom: 1px solid #5ab8bf;
  border-right: none;
  padding: 5px;
  height: 20px;
  outline: none;
  color: #f8f8f8;
  background-color: transparent;
  font-size: x-large;
  font-weight: 400;
}

input.search-term::placeholder {
  color: #fff;
}

input.search-term:focus {
  color: #ffffff;
  background-color: #c0c0c07a;
}

button.search-button {
  width: 40px;
  height: 36px;
  border: none;
  background: #5ab8bf;
  text-align: center;
  color: #fff;
  border-radius: 100px;
  cursor: pointer;
}

button.search-button:hover {
  background-color: #c4e6e8;
  color: #59b9bf;
}

/* Search results */
div.top-line {
  display: flex;
}
div.top-line p {
  text-align: left;
}

div.col.card {
  background-color: #fef9c7;
  font-size: large;
  font-weight: 200;
  color: #4d5050;
  box-shadow: 4px 4px 8px 3px #0000004a;
}

span strong {
  font-weight: 400;
  font-size: x-large;
}

div.search-result {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  background-color: #b8e2e4d4;
}

div.no-results h3 {
  font-size: 60px;
  font-weight: 100;
  color: white;
  margin-top: 150px;
  justify-content: center;
  text-align: center;
}

/* View Page */
section.view-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

div.top-wrapper {
  background-color: #b8e2e4d4;
  width: cover;
  height: auto;
}

#study-set-directory-container {
  margin-top: 40px;
  margin-bottom: 50px;
  background-color: #5ab8bf;
  overflow: scroll;
  text-overflow: ellipsis;
  height: 500px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#study-set-directory-container a.btn-flat {
  font-weight: 200;
  font-size: 15.5px;
  line-height: 2;
  color: #c2e5e7;
}

#study-set-directory-container a.btn-flat:hover {
  background-color: #c4e6e8;
  color: #59b9bf;
}

#study-set-directory-container a.btn-flat {
  color: #fcfefe;
}

#card-container {
  margin-top: 40px;
  margin-bottom: 30px;
  height: 500px;
}

div.card div.card-content span.card-title {
  display: block;
  margin-top: 200px;
  font-size: 45px;
  line-height: 1;
}

div.card {
  background-color: #efe2ba;
}

div.card div.card-content {
  line-height: 50px;
  text-align: center;
}

div.card div.card-reveal {
  color: #000000;
  background-color: #efe2ba;
  font-size: 35px;
  font-weight: 200;
}

#study-set-details-container {
  background-color: #58babf;
  color: #efeff0;
  font-weight: 200;
  font-size: 25.5px;
  line-height: 2;
  margin-top: 40px;
  margin-bottom: 50px;
  overflow: scroll;
  height: 500px;
  justify-content: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

div.btn-container {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

div.btn-container a.btn {
  background-color: #58bbbf;
  color: #fefefe;
  font-size: 25px;
  font-weight: 300;
}

div.btn-container a.btn:hover {
  background-color: #c4e7e9;
  color: #58bbbf;
}

div#all-cards-container {
  background-color: #c3e6e8bd;
  width: 100%;
  display: flex;
  justify-content: center;
}

#all-cards-container ul {
  background-color: #58babf;
  width: 90%;
}

#all-cards-container li.card {
  color: #373532;
  width: 90%;
  background-color: #efe2bb;
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
  line-height: 45px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

/* Create Study Set */
div.row.study-set-creation {
  min-height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: flex-start;
}

div.create-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.card-creation {
  margin-top: 20px;
  height: 900px;
  overflow-y: scroll;
}

/* bad login */

div.page-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
}